@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@1&display=swap");
@import "_variables";
@import "_elements";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}



* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
  font-size: 10px;
}

body {
  font-family: 'NanumSquare', sans-serif,monospace;
  line-height: 1.4;
  padding-top: 6.5rem;
  width: auto;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: 1s;
}

main {
  .header {
    z-index: 3;
    border-bottom: .05rem solid rgba(143, 143, 143, 0.205);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    padding: 2rem;
    display: flex;
    // justify-items: baseline;
    background-color: white;
    .logo{
      top: 0;
      width: 12rem;
      height: 5rem;
      margin-left: 1.5rem;
     @include mobile(){
        justify-items: center;
      }
    }
   
    nav {
      width: auto;
      position: fixed;
      right: 0;
      align-self: right;
      line-height: 2;
      ul {
        display: flex;
        li {
          display: flex;
          padding-left: 1rem;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8rem;
          &:first-child {
            span {
              background-color: #e4c464;
            }
          }
          &:nth-child(2) {
            span {
              background-color: #56854a;
            }
          }
          &:last-child {
            span {
              background-color: #97c2de;
            }
          }
          span {
            margin-right: 5px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
           /* transform: rotateZ(90deg);*/
          }
          a {
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            transition: 1s;
          }
  
        }
      }
    }

    /*.header__photo {
      width: 100%;
      height: 120vh;
      background-image: url("https://source.unsplash.com/random/12");
      background-position: center center;
      background-size: cover;
    }*/
    @include mobile{
      background-color: rgb(255, 247, 224);
      
    }
  }
}
.about {
  padding-top : 75px;
  display: grid;
  justify-items: center;
  // margin-bottom: 60px;
  background-color: rgb(255, 247, 224);
  .about__header {
    display: flex;
    font-size: 4.4rem;
    h4 {
      font-size: 4rem;
      text-align: center;
    }
  }
  .pencil{
    width: 55rem;
    height: auto;
  }
  .about__list {
    margin-top: 50px;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    // place-items: center center;
    width: 100%;
    gap: 30px;
    .about__event {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-bottom: 30px;
        font-size: 1.2rem;
      }
    }
  }
  .btn {
    margin-top: 120px;
  }
}

.product {
  
  // margin-top: 120px;
  margin-bottom: 40px;
  padding: 75px $paddingLeft;
  h2 {
    font-size: 4rem;
    margin-bottom: 60px;
    text-align: center;
  }
  .product__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    
    .product__column {
      // ??밑에 설정값이 있으면 product의 마진 값이 적용되지 않음
      // height: 400px;
      // width: 400px;
      display: grid;
      grid-template-rows: 650px 20%;
      gap: 30px;
      z-index: 1;
      .screen{
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        height: 600px;
        ::after{
          content:'';
          display:block;
          position:absolute;
          top:0; left:0; 
          width:100%; height:100%; 
          background:rgba(0,0,0,.5);
          z-index:1;
          opacity:0;
        }
        &:hover{
          // filter: blur(2px);
          .p_name{bottom: 50%;}
          ::after{opacity: 1;}
        }
        .p_name{
          position: absolute;
          bottom: 150%;
          text-align: center;
          color: white;
          z-index: 2;
        }
        .img__wrapper {
          // overflow: hidden;
          img {
            max-width: 100%;
            height: 600px;
            }
          }
        }

      span {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
  }
}
.app{
  display: grid;
  padding: 3rem;
  height: 70rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  .right{
    grid-row: span 2;
    align-items: center;
  }
  .left_top{
    grid-column: span 1;
    text-align: left;
    align-self:end;
    h2{
      font-size: 4rem;
      color:rgba(255, 57, 57, 0.78);
    }
    p{
      font-size: 3rem;
      strong{
        color: rgba(27, 73, 154, 0.87);
      }
    }
  }
  .left_bottom{
    grid-column: span 1;
    align-self: center;
   display: flex;

}
  overflow: hidden;
  width: auto;
  background-color: rgba(185, 216, 191, 0.507);
  font-size: 2rem;
.app_ui{
  height: 60rem;
}
  // &:hover{
  //   z-index: 2;
  //   background:rgba(0,0,0,.5);
  //   // ::after{
  //   //   content:'2월 출시 예정';
  //   //   }
  // }
}

.btn {
  text-transform: lowercase;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 17px 60px;
  transition: background-color 0.2s linear;
  &:hover {
    color: white;
    background-color: black;
  }
}

.contact {
  padding: 6.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 33vh;
  gap: 60px;
  
}

.contact, .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    font-size: 5.6rem;
    margin-bottom: 30px;
  }
}
.footer {
  padding: 3rem;
  background-color: rgba(209, 209, 209, 0.562);
  font-size: 1rem;
  .info {
    list-style-type: none; 
  }
}