@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@1&display=swap");
@import "_variables";
@import "_elements";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}



* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
  font-size: 10px;
}

body {
  font-family: 'NanumSquare', sans-serif,monospace;
  line-height: 1.4;
  padding-top: 6.5rem;
  width: auto;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: 1s;
}
img{
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
  // border: solid;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: .05rem solid rgba(143, 143, 143, 0.205);
    top: 0;
    left: 0;
    // height: 7.5rem;
    padding: 0.8rem 1.2rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 3;

    
    @include tablet(){
      // background-color: pink;
      flex-direction: column;
      align-items: flex-start;
    }
    .logo{
      top: 0;
      width: 12rem;
      height: 5rem;
      margin-left: 1.5rem;
      display: flex;
    }
    
    .nav {
      width: auto;
      // position: fixed; 포지션을 설정하면 nav에서 밖으로 나와짐
      right: 0;
      align-self: center;
      line-height: 2;
      @include tablet(){
        display: none;
      }
      &.active{
        display: flex;
      }
      ul {
        display: flex;
        @include tablet(){
          flex-direction: column;
          text-align: center;
          width: 100%;
        }
        li {
          display: flex;
          padding: 0.8rem 1.2rem;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8rem;
          &:first-child {
            span {
              background-color: #e4c464;
            }
          }
          &:nth-child(2) {
            span {
              background-color: #56854a;
            }
          }
          &:last-child {
            span {
              background-color: #97c2de;
            }
          }
          span {
            margin-right: 5px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
           /* transform: rotateZ(90deg);*/
          }
          a {
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            transition: 1s;
          }
  
        }
      }
    }

    /*.header__photo {
      width: 100%;
      height: 120vh;
      background-image: url("https://source.unsplash.com/random/12");
      background-position: center center;
      background-size: cover;
    }*/
    @include mobile{
      background-color: rgb(255, 247, 224);
      
    }
    .navbar__toggleBtn {
      display: none;
      position: absolute;
      right: 32px;
      font-size: 24px;
      color: black;
      @include tablet(){
        display: block;
      }
    }
  }

.about {
  height: 100vh;
}

.product {
  
  }

.app{

}

.btn {
  text-transform: lowercase;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 17px 60px;
  transition: background-color 0.2s linear;
  &:hover {
    color: white;
    background-color: black;
  }
}

.contact {
  // padding: 6.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 33vh;
  gap: 60px;  
  height: 100vh;
}

.contact, .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    font-size: 5.6rem;
    margin-bottom: 30px;
  }
}
.footer {
  padding: 2rem;
  background-color: rgba(209, 209, 209, 0.562);
  font-size: 1rem;
  .info {
    width: 100%;
    font-size: 1.5rem;
    list-style-type: none; 
    text-align: left;
    li{
      padding-top: 1rem;
    }
    a {
    text-decoration: none;
    &:hover{
      color: #e4c464;
      }
    }
    .fas {
      color: white;
      width: 3rem;
      height: 3rem;
      background:#222;
      line-height: 3rem;
      text-align: center;
      border-radius: 50%;
      transition: 0.3s;
      // &:hover{
      //   background: #e4c464;
      // }
    }
    
  }
}