@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@1&display=swap");
@import "_variables";
@import "_elements";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}



* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
  font-size: 10px;
}

body {
  font-family: 'NanumSquare', sans-serif,monospace;
  line-height: 1.4;
  padding-top: 6.5rem;
  width: auto;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: 1s;
}

.header {
    // padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .05rem solid rgba(143, 143, 143, 0.205);
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 3;

    
    @include tablet(){
      // background-color: pink;
      flex-direction: column;
      align-items: flex-start;
    }

    .header_logo{
      font-size: 2.2rem;
      letter-spacing: 0.3rem;
      padding-left: 2rem;
    }
    .nav {
      width: auto;
      // position: fixed; 포지션을 설정하면 nav에서 밖으로 나와짐
      right: 0;
      align-self: center;
      line-height: 2;
      @include tablet(){
        display: none;
      }
      &.active{
        display: flex;
      }
      ul {
        display: flex;
        @include tablet(){
          flex-direction: column;
          text-align: center;
          width: 100%;
        }
        li {
          display: flex;
          padding: 0rem 1.2rem;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8rem;
          &:first-child {
            span {
              background-color: #e4c464;
            }
          }
          &:nth-child(2) {
            span {
              background-color: #56854a;
            }
          }
          &:last-child {
            span {
              background-color: #97c2de;
            }
          }
          span {
            margin-right: 5px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
           /* transform: rotateZ(90deg);*/
          }
          a {
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            transition: 1s;
          }
  
        }
      }
    }

    @include mobile{
      background-color: rgb(255, 247, 224);
      
    }
    .navbar__toggleBtn {
      display: none;
      position: absolute;
      right: 32px;
      font-size: 24px;
      color: black;
      padding-top: 1.5rem;
      @include tablet(){
        display: block;
      }
    }
  }

// ////////////image///////////////
.about{
  width: 100%;
}
.about_main1{
  height: 70rem;
  position: relative;
  .fade-in{
    position: absolute;
    opacity: 0;

  }
  .cats{
    right: 0;
    bottom: 1rem;
  }
  .text1{
    left: 350px;
    bottom: 450px;
  }
  .mangohada{
    left: 650px;
   bottom: 450px;
  }
  .text2 {
    left: 220px;
    bottom: 250px;
  }
  .quotes{
    left: 200px;
    bottom: 100px;
  }

}
.about_main2{
  height: 70rem;
  background-image: url("/image/Layer_1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  position: relative;
  .about_main2_text{
    // margin:0 auto;
    h1{
      font-family: 'Cafe24Shiningstar';
      font-size: 6rem;
      position: absolute;
      margin-bottom: 3rem;
      left: 380px;
      top: 180px;
      letter-spacing: 3px;
    }
    p{
      position: absolute;
      font-size: 3rem;
      line-height: 2;
      left: 350px;
      top: 310px;
    }
  }
}
.about_main3{
  width: 100%;
  height: 70rem;
  font-size: 3rem;
  padding: 10rem 0;
  background-color: #eef5fd;
  .about3_list{
    margin: 0 auto;
    width: 850px;
  }
  .about3_list_item{
    display: flex;
    align-items: center;
    margin: 3rem;
    
    .icon{
      width: 7rem;
      height: 7rem;
      background-size: no-repeat;
      background-size: cover;
      margin-right: 1rem;
    }
    
  }
  .about3_icon_1{
    
    background-image: url("/image/sc/Asset 3.png");

  }
  .about3_icon_2{
    
    background-image: url("/image/sc/Asset 7.png");
  }
  .about3_icon_3{
   
    background-image: url("/image/sc/Asset 5.png");
   
  }
  
  .about3_text{
    font-family: 'Cafe24Shiningstar';
    font-size: 5rem;
    width: auto;
    margin: 0 auto;
    text-align: center;
    
    mark{
      background-color: #FFE285;
      border-radius: 3rem;
    }
  }
  
}

.img_sample{
  width: 100%;
  height: 100%;
}
.product{
  height: 70rem;
  position: relative;

  .product_book{
    position: absolute;
    right: 80px;
    bottom: 5rem;
  }
  .product_text{
    font-size: 3.5rem;
    position: absolute;
    top: 300px;
    right: 500px;
    line-height: 1.5;
  }
  .product_moon{
    position: absolute;
    top: 200px;
    left: 250px;
  }
  .product_road{
    position: absolute;
    bottom: 0;
    right: -20px;
  }
}
.app{
  position: relative;
  background-color: rgba(185, 216, 191, 0.507);
  font-size: 2rem;
  height: 70rem;

  .app_text{
    font-size: 3.5rem;
    text-align: center;
    line-height: 2;
    position: absolute;
    top: 250px;
    left: 310px;

    .app_subtext{
    font-size: 2.2rem;
    color: #888;
    position: absolute;
    margin-top: -20px;
    }
  }  
  .app_phone{
    height: 60rem;
    position: absolute;
    right: 100px;
    bottom: 50px;
  }
  .app_book{
    position: absolute;
    top: 100px;
    left: 500px;
  }
  .btn_link{
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 100px;
      left: 300px;
    }
    
}


.btn {
  text-transform: lowercase;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 17px 60px;
  transition: background-color 0.2s linear;
  &:hover {
    color: white;
    background-color: black;
  }
}

.contact {
  padding: 6.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 33vh;
  gap: 60px;  
  height: 100vh;
}

.contact, .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    font-size: 5.6rem;
    margin-bottom: 30px;
  }
}
.footer {
  padding: 2rem;
  background-color: rgba(209, 209, 209, 0.562);
  font-size: 1rem;
  .info {
    width: 100%;
    font-size: 1.5rem;
    list-style-type: none; 
    text-align: left;
    li{
      padding-top: 1rem;
    }
    a {
    text-decoration: none;
    &:hover{
      color: #e4c464;
      }
    }
    .fas {
      color: white;
      width: 3rem;
      height: 3rem;
      background:#222;
      line-height: 3rem;
      text-align: center;
      border-radius: 50%;
      transition: 0.3s;
      // &:hover{
      //   background: #e4c464;
      // }
    }
    
  }
}